<div class="container pt-4">
  <div>
    <form #filteringForm="ngForm" [formGroup]="filtersForm" (ngSubmit)="filter()">
      <div class="row">
        <div class="col-md-12">
          <h2>Filtros</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="fullname" placeholder="Nombre">
            <mat-hint>Ingrese un nombre</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email">
            <mat-hint>Ingrese un Email</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input matInput maxlength="10" formControlName="phone_number" placeholder="Teléfono">
            <mat-hint>Ingrese un Teléfono</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Ciudad</mat-label>
            <input matInput formControlName="city" placeholder="Ciudad">
            <mat-hint>Ingrese una Ciudad</mat-hint>
          </mat-form-field>
        </div>
      </div>
      
      <div class="row mt-4">
        <div class="col-md-4 float-end">
          <button type="submit" mat-flat-button [disabled]="filtersForm.invalid" color="primary">Buscar</button>
        </div>
      </div>
    </form>
  </div>
    
    <hr>
    <div class="row ">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Elementos por página</mat-label>
          <mat-select [(value)]="pageSize" (valueChange)="onPageSizeChange($event)">
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="20">20</mat-option>
            <mat-option [value]="50">50</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <button class="col-md-12" mat-flat-button color="primary" (click)="create()">Nuevo contacto</button>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr class="table-primary">
                    <th scope="col">Nombre</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  @if (tableState.isLoading) {
                    <tr>
                      <td colspan="2" class="text-center">
                        <div class="spinner-border text-primary" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </td>
                    </tr>
                  }@else if (tableState.error) {
                    <tr>
                      <td colspan="2" class="text-center">
                        {{tableState.errorMessage}}
                      </td>
                    </tr>
                  }@else if(contacts.length < 1) {
                    <tr>
                      <td colspan="2" class="text-center">
                        No hay información para mostrar
                      </td>
                    </tr>
                  }@else {
                    @for (contact of contacts; track contact.id) {
                      <tr>
                        <td>
                          {{contact.fullname}}
                        </td>
                        <td>

                        </td>
                      </tr>
                    }
                  }
                </tbody>
              </table>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <span>Página {{currentPage}} de {{lastPage}}</span>
        <nav aria-label="Page navigation example" class="text-center m-auto">
          <div class="btn-group col-md-12">
            <button [disabled]="this.currentPage <= 1" class="btn btn-outline-primary col-md-6" (click)="prevPage()">Anterior</button>
            <button [disabled]="this.currentPage >= this.lastPage" class="btn btn-outline-primary col-md-6" (click)="nextPage()">Siguiente</button>
          </div>
        </nav>
      </div>
    </div>
</div>
